.header__main__area__pix{
    height: 140px;
    border: none;
}
.box__close__and__question{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.icon__close__and__question{
    color: black;
    font-size: 30px
}
.sectio__pix__area__pix{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    border: none;
}

.section__add__chave__pix{
    padding-top: 20px;
}
.box__btn__add__chave__pix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.btn__show__add__chave__pix{
    background: #168200;
    border: none;
    outline: none;
    color: #f6f6f6;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 10px;
}
.btn__add__chave__pix{
    background: transparent;
    border: 1px solid #168200;
    outline: none;
    color: #168200;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 10px;
}
.text__add__first__chave__pix{
    color: gray;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.message__erro{
    display: flex;
    background: rgba(255, 0, 0, 0.495);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 5px;
    color: red;
}
.message__sucess{
    display: flex;
    background: rgba(0, 255, 0, 0.276);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 5px;
    color: green;
}
.icon__VscError{
    margin-top: 3px;
    margin-right: 5px;
    color: red;
    font-size: 20px;
}
.icon__FaRegCheckCircle{
    margin-top: 3px;
    margin-right: 5px;
    color: green;
    font-size: 20px;
}
.conteiner__option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section__pix__cadastrado{
    display: flex;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.445);
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
}
.icon__MdDeleteOutline{
    font-size: 25px;
    color: #168200;
}
.box__icon__MdDeleteOutline{
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;

}
.container__btn__delete__chave__pix{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.btn__{
    height: 45px;
    width: 150px;
    font-size: 14px;
    border-radius: 10px;
}
.cancel{
    background: #168200;
    border: none;
    outline: none;
}
.confirm{
    background: transparent;
    color: #168200;
    border: 1px solid #168200;
}

.container__loading__and__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* From Uiverse.io by barisdogansutcu */ 
.svg {
    width: 2.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: #168200;
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   